.html-bg        { background-color: #d5d8dc; font-size: 2.8rem }
.page-bg        { background-color: #f2d7d5; font-size: 2.5rem }
.region-bg      { background-color: #ebdef0; font-size: 2.1rem }
.node-bg        { background-color: #d1f2eb; font-size: 1.2rem }
.field-bg       { background-color: #f9e79f; font-size: 0.9rem }